@import "../../scss/variables";
@import "../../scss/mixins";

.heading {
  @include flex-col(1rem);
  text-align: center;
  color: $color-primary;
  margin: 8rem 0;

  &__title {
    font-size: 3.8rem;
    font-weight: $font-normal;
    font-family: $font-secondary;
    letter-spacing: -0.044em;
  }

  &__subtitle {
    max-width: 60rem;
    font-size: 2.1rem;
    margin: 0 auto;
    line-height: 1.5;
  }
}
