@import "../../../scss/variables";
@import "../../../scss/mixins";

.collection {
  color: $color-primary;
  @include flex-col(2.4rem);

  &__photo-box {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }

  &__photo {
    width: 100%;
    transition: all 0.5s linear;
  }

  &__photo--rear {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &:hover &__photo--front {
    transform: scale(1.05);
  }

  &:hover &__photo--rear {
    opacity: 1;
    z-index: 0;
  }

  &__content-box {
    @include flex-col(1.6rem);
    text-align: center;
  }

  &__name,
  &__desc {
    line-height: 1.4;
  }

  &__name {
    font-size: 2.1rem;
    font-weight: $font-normal;
  }

  &__desc {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.13rem;
    font-weight: $font-bold;
  }

  &__price-box {
    @include flex(8px);
    align-self: center;
  }

  &__regular-price,
  &__sale-price {
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__sale-price {
    padding-bottom: 3px;
    text-decoration: line-through;
    color: $color-primary-light;
  }

  &__regular-price {
    border-bottom: 2px solid $color-secondary;
    padding-bottom: 2px;
  }

  &__btn {
    color: $color-white;
    align-self: center;
    @include flex(0.8rem);
    padding: 0.8rem 1.6rem;
    background-color: $color-primary-light;
    cursor: pointer;
    transition: background-color $main-transition;

    &:hover {
      background-color: $color-primary;
    }
  }

  &__basket-icon {
    fill: $color-white;
  }
}
