@import "../../../scss/variables";
@import "../../../scss/mixins";

.cart {
  @include flex(1.4rem);
  align-items: flex-start;
  color: $color-primary;
  padding-bottom: 1.6rem;

  &:not(:last-child) {
    border-bottom: 2px solid $color-primary;
  }

  &__photo-box {
    width: 30%;
    cursor: pointer;
    overflow: hidden;
  }

  &__photo {
    width: 100%;
    transition: all 0.5s linear;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__content-box {
    @include flex-col(6px);
    width: 100%;
    cursor: pointer;

    &:hover .cart__name {
      color: $color-secondary;
    }

    &:hover .cart__desc {
      color: $color-secondary;
    }
  }

  &__name,
  &__desc {
    transition: $main-transition;
  }

  &__name {
    font-size: 1.7rem;
    font-weight: $font-normal;
    line-height: 1.2;
  }

  &__desc {
    font-size: 1.2rem;
    line-height: 1.2;
    color: inherit;
  }

  &__future-box {
    @include flex(1.2rem);
  }

  &__clear {
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__input-box {
    @include flex(1.2rem);
    font-weight: $font-semibold;

    span:nth-child(odd) {
      cursor: pointer;
    }

    span:nth-child(even) {
      font-size: 1rem;
      border: 2px solid $color-primary;

      width: 24px;
      height: 24px;
      border-radius: 50%;
      text-align: center;
      line-height: 19px;
    }
  }

  &__price {
    font-size: 1.3rem;
  }
}
