@import "../../../scss/variables";
@import "../../../scss/mixins";

.search-form {
  @include flex(1.2rem);
  border-bottom: 1px solid $color-primary;
  padding-bottom: 8px;

  span {
    cursor: pointer;
  }

  &__input {
    color: $color-primary;
    font-weight: $font-medium;
    width: 60%;
  }

  &__input::placeholder {
    color: $color-primary;
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: $font-medium;
    letter-spacing: 1px;
  }
}
