@import "./variables";
@import "./mixins";

// -Font sizes (px):
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px => 10px/16px => 62.5%

  @include media($lg) {
    font-size: 56.25%; // 9px
  }

  @include media($md) {
    font-size: 50%; // 8px
  }
}

body {
  font-size: 1.6rem;
  font-family: $font-primary;
  font-weight: $font-normal;
  line-height: 1;
  letter-spacing: 0.5px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55rem;
}
