@mixin flex($gap: 0px) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flex-col($gap: 0px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin link-primary {
  font-size: 1.3rem;
  transition: $main-transition;
  border-bottom: 2px solid $color-secondary;
  padding-bottom: 2px;

  &:hover {
    color: $color-secondary;
  }
}

// MEDIA QUERY MANAGER
@mixin media($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
