a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: $font-primary;
}
