// Leitura Roman2
@font-face {
  font-family: "Leitura-Roman2";
  src: url("../assets/fonts/Leitura\ Roman\ 2.otf") format("truetype");
}

// Styrene A Web
@font-face {
  font-family: "Styrene A Web";
  src: url("../assets/fonts/StyreneAWeb-Regular.ttf") format("truetype");
}
