// FONTS
$font-primary: "Styrene A Web", sans-serif;
$font-secondary: "Leitura-Roman2", sans-serif;

// FONT WEIGHT
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// COLORS
$color-primary-light: #009a87;
$color-primary: #00665e;

$color-secondary: #f68a53;

$color-white: #fff;
$color-black: #000;

// TRANSITIONS
$main-transition: 0.25s cubic-bezier(0.5, 0, 0.5, 1);

// BREAKPOINTS
$xl: 75em; // 1200px
$lg: 62.5em; // 1000px
$md: 43.75em; // 700px
$sm: 30em; // 400px
