@import "../../scss/mixins";
@import "../../scss/variables";

.form {
  @include flex-col(6.4rem);
  width: 34rem;

  &__heading {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $color-primary;
    letter-spacing: 0.157em;
    text-align: center;
  }

  &__input-box {
    @include flex-col(2.8rem);
  }

  button {
    padding: 0.8rem 2.6rem;
    margin-bottom: 1rem;
  }

  a,
  span {
    color: $color-primary;
    font-size: 1.3rem;
  }

  a {
    @include link-primary;
    align-self: center;
  }
}
