@import "../../../scss/variables";
@import "../../../scss/mixins";

.collection-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  padding-bottom: 8rem !important;

  &:not(:last-child) {
    border-bottom: 2px solid $color-primary;
  }

  @include media($xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media($md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media($sm) {
    grid-template-columns: 1fr;
  }
}
